@{ 
    ViewBag.Title = "Not Found";

}

<h2>@ViewBag.ErrorMessage</h2>
<h3>@ViewBag.Path</h3>
<h3>@ViewBag.QS</h3>
<a asp-controller="home" asp-action="index" class="btn btn-group-lg">Click here to navigate to home page</a>