<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You don't have permission to view this resourse</h5>
    <img src="~/Images/noaccess.png" style="height:300px width: 300px" />
</div>