@model CreateRoleViewModel;
@{
    ViewBag.Title = "Create New Role";
}

<form enctype="multipart/form-data" class="mt-3" asp-controller="Administration" asp-action="Create" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" asp-for="RoleName">Name</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RoleName" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>

    </div>
    <div>
        <button style="width:auto" type="Submit">Create Role</button>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>


</form>